:root {
  --button: #836fff;
  --primary: #211952;
  --light: #f0f3ff;
  --hover: #211951;
  --active: #836fff;
  --muted: #495057;
  --mint: #15f5ba;
}
.content{
  display: flex;
  flex-direction: row;
  gap:36px;
  margin:21px 100px 0px 121px;
}

.right-content{
  display: flex;
  flex-direction: column;
  margin:59px 18px 0 17px;
}
.left-content{
  display: flex;
  flex-direction: column;
}

.right-card{
  border-width: 1px;
  box-shadow: 0px 0px 34px 0px rgba(0, 0, 0, 0.25);
  width: 412px;
  height: 683px;
  flex-shrink: 0;
  border-radius: 30px;
}
#subscribe{
width: 95%;
border-radius: 23px;

}
.bottom-right-section{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 29px;
  color: var(--muted);
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.bottom-right-section span img {
margin-left: 5px;
}
#person-icon{
  margin-right: 4px;
}
#title{
  color: var(--primary);
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#right-description{
  color: var(--muted);
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom:30px;
}

.left-text{
  display: flex;
  flex-direction: column;
  margin:40px 0 0 0;
  color: black;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.first-text{
  display: flex;
  flex-direction: column;
}

.second-text{
  margin-right:40px;
}

#left-description{
  color: var(--muted);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin:8px 0 0 0;
}

.instructor{
  display: flex;
  flex-direction: row;
  margin-top:21px;
}

.text-instructor{
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-top: -14px;
}

.instructor-name{
  color: var(--primary);
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.instructor-job{
  color: var(--button);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: -10px;

}